
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <ul>
                <li><a href="/Home/HomePage">Home</a></li>
                <li>Our services</li>
            </ul>
        </div>
    </div>
</div>
<!-- /breadcrumb  -->
<div class="page-content">
    <div class="container">
        <h1 class="title-underline">Our services</h1>
        <p class="text-center info-text">
            We strive to ensure quality laundry, on time delivery and reliable service for all linen, uniform and guest laundry needs. A dedicated in-plant quality assurance team is on hand to provide regular visual inspection to maintain quality standard and to seek for continuous improvements. The team would review and offer precise washing formula suitable for each type of linen.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- services-box-info -->
                <a href="#" class="services-box-info animation" data-animation="fadeInLeft" data-animation-delay="0s">
                    <div class="img">
                        <img src="~/images/img_02.jpg" alt="">
                    </div>
                    <h4 class="title">
                        Laundry Services
                    </h4>
                    <div class="description">
                        <p>
                            Let us pick up your dirty laundry, sort it, pre-treat stains, wash, dry, fold and deliver back to you in one neat, easy package.
                        </p>
                    </div>
                </a>
                <!-- /services-box-info -->
            </div>
            <div class="divider divider-80 visible-sm visible-xs"></div>
            <div class="col-md-4">
                <!-- services-box-info -->
                <a href="#" class="services-box-info animation" data-animation="fadeIn" data-animation-delay="0s">
                    <div class="img">
                        <img src="~/images/img_03.jpg" alt="">
                    </div>
                    <h4 class="title">
                        Dry Cleaning Services
                    </h4>
                    <div class="description">
                        <p>
                            SMU students and local residents love on our reliable dry cleaning services for the fast, accurate, top quality results.
                        </p>
                    </div>
                </a>
                <!-- /services-box-info -->
            </div>
            <div class="divider divider-80 visible-sm visible-xs"></div>
            <div class="col-md-4">
                <!-- services-box-info -->
                <a href="#" class="services-box-info animation" data-animation="fadeInRight" data-animation-delay="0s">
                    <div class="img">
                        <img src="~/images/img_04.jpg" alt="">
                    </div>
                    <h4 class="title">
                        Carpet Cleaning
                    </h4>
                    <div class="description">
                        <p>
                            To keep carpet at peak performance, we recommend professional deep cleaning your carpet every 12 to 18 months.
                        </p>
                    </div>
                </a>
                <!-- /services-box-info -->
            </div>
        </div>
    </div>
    <div class="content carusel--parallax box-color-white" data-image="~/images/parallax-img-02.jpg">
        <div class="container text-center">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <a href="#" class="promo-fluid">
                24/7 premium customer services
            </a>
        </div>
    </div>
    <div class="container">
        <h2 class="title-underline">Our Features</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="box-text animation" data-animation="fadeIn" data-animation-delay="0s">
                    <h4 class="title"><a href="#">Eco-Friendly Dry Cleaning</a></h4>
                    <p>Place your dirty clothes in a secure Laundry Locker, lock the locker with any four digit code, and we'll do your dry cleaning for you. Items are packaged just like any other dry cleaning, but you pick them up at your convenience, not theirs.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="box-text animation" data-animation="fadeIn" data-animation-delay="0s">
                    <h4 class="title"><a href="#">Wash & Fold</a></h4>
                    <p>Place your dirty clothes in a secure Laundry Locker, lock the locker with any four digit code, and we'll do your dry cleaning for you. Items are packaged just like any other dry cleaning, but you pick them up at your convenience, not theirs.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="box-text animation" data-animation="fadeIn" data-animation-delay="0s">
                    <h4 class="title"><a href="#">Bag & Shoe Repairs & Shines</a></h4>
                    <p>Place your dirty clothes in a secure Laundry Locker, lock the locker with any four digit code, and we'll do your dry cleaning for you. Items are packaged just like any other dry cleaning, but you pick them up at your convenience, not theirs.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="box-text animation" data-animation="fadeIn" data-animation-delay="0s">
                    <h4 class="title"><a href="#">Package Delivery</a></h4>
                    <p>Place your dirty clothes in a secure Laundry Locker, lock the locker with any four digit code, and we'll do your dry cleaning for you. Items are packaged just like any other dry cleaning, but you pick them up at your convenience, not theirs.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fill-bg-2 offset-top60 clearfix">
        <div class="container offset-top0">
            <div class="row">
                <div class="box-step animation" data-animation="fadeIn" data-animation-delay="0s">
                    <h2>How It Works: in 4 Easy Steps</h2>
                    <a href="#" class="item">
                        <div class="icon">
                            <img src="~/images/img_icon_01.png" class="img-responsive1" alt="">
                        </div>
                        <h6 class="description">Step 1</h6>
                        <h4 class="title">Bag up all your dirty clothes</h4>
                    </a>
                    <a href="#" class="item animation" data-animation="fadeIn" data-animation-delay="0.25s">
                        <div class="icon">
                            <img src="~/images/img_icon_02.png" class="img-responsive1" alt="">
                        </div>
                        <h6 class="description">Step 2</h6>
                        <h4 class="title">
                            We pick up your
                            <br> clothes
                        </h4>
                    </a>
                    <a href="#" class="item animation" data-animation="fadeIn" data-animation-delay="0.5s">
                        <div class="icon">
                            <img src="~/images/img_icon_03.png" class="img-responsive1" alt="">
                        </div>
                        <h6 class="description">Step 3</h6>
                        <h4 class="title">
                            We clean your
                            <br> clothes
                        </h4>
                    </a>
                    <a href="#" class="item animation" data-animation="fadeIn" data-animation-delay="0.75s">
                        <div class="icon">
                            <img src="~/images/img_icon_04.png" class="img-responsive1" alt="">
                        </div>
                        <h6 class="description">Step 4</h6>
                        <h4 class="title">We deliver clean, folded clothes</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


