
@{
    ViewData["Title"] = "UploadSuccess";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>UploadSuccess</h1>
<table>
    <div class="form-group">
        <div class="col-md-10">
            <p>Success!</p> @TempData["uploadedUri"]
            <p>
                <a asp-area="" asp-controller="FileUpload" asp-action="Index">Upload another file</a>
            </p>
        </div>
    </div>
<br/>
</table>
<br />
<br />
<br />

<br /><br /><br />

            <br />


            <br />
            <br />
            <br />
            <br />
            <br />
<br />

