@model IEnumerable<laundry.Models.User>
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>User Testinomials</h3>
<br/>

<table border ="1">
    <tr>
        <th>Partition Key</th>
        <th>Row Key</th>
        <th>Testinomials</th>
        <th>Delete</th>
    </tr>

    @foreach(var users in Model)
    {
     <tr>
         <td>
         @users.PartitionKey
         </td>
         <td>
         @users.RowKey
         </td>
         <td>
         @users.Testimonial
         </td>
         <td>
             @{ 
                 var prm = new Dictionary<string, string>
                 {
                     {"partitionkey", users.PartitionKey },
                     {"rowkey", users.RowKey }

                 };
             }
             <a asp-area="" asp-controller="ManageTestimonial" asp-action="deleteTableData" asp-all-route-data="prm">
                 <button>Delete Button</button>
             </a>
         </td>
     </tr>
    }
</table>