
@{
    ViewData["Title"] = "ProcessMsgResult";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>ProcessMsgResult</h1>
<meta http-equiv="refresh" content="1" />

@foreach (var vo in Model)
{
    <li>@vo</li>
    <br />
}

