
@{
    ViewData["Title"] = "addTestimonials";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h3>&nbsp;&nbsp;Add Testinomial</h3>

<br />

@using (Html.BeginForm("addTestimonials", "TableStorage"))
{
<table>
    <tr>
        <td style="height: 57px">&nbsp;&nbsp;&nbsp;&nbsp;Product Name&nbsp;&nbsp;&nbsp; </td>
        <td style="height: 57px;">
            <textarea id="w3review" name="msgInput" rows="4" cols="50"></textarea>
        </td>
    </tr>
    <tr>
        <td style="background-color: #FFFFFF; background-image: none;">
            &nbsp;
            <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:ConnectionString1 %>" SelectCommand="SELECT * FROM [Product]"></asp:SqlDataSource>
            <br />
        </td>
        <td style="background-color: #FFFFFF; background-image: none;">
            <br />
            &nbsp;<input type="submit" value="Submit" />
            
</tr>
</table>
<br />
}

